In [1]:
import numpy as np
import pandas as pd

In [7]:
dataset = pd.read_csv('datasets/games.csv')
dataset.shape

(20058, 16)

In [8]:
dataset.columns

Index(['id', 'rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
       'winner', 'increment_code', 'white_id', 'white_rating', 'black_id',
       'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply'],
      dtype='object')

In [12]:
dataset.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

In [5]:
moves = dataset['moves']

In [17]:
print(dataset.iloc[5])
print(moves[5])

id                                            MsoDV9wj
rated                                            False
created_at                             1504240000000.0
last_move_at                           1504240000000.0
turns                                                5
victory_status                                    draw
winner                                            draw
increment_code                                    10+0
white_id                                     trelynn17
white_rating                                      1250
black_id                                 franklin14532
black_rating                                      1002
moves                                 e4 c5 Nf3 Qa5 a3
opening_eco                                        B27
opening_name      Sicilian Defense: Mongoose Variation
opening_ply                                          4
Name: 5, dtype: object
e4 c5 Nf3 Qa5 a3

In [21]:
moves[100]

'e4 e6 d4 d5 Nc3 c5 exd5 exd5 Nf3 Nc6 Bb5 Nf6 O-O Be7 dxc5 O-O Bg5 h6 Bxf6 Bxf6 Nxd5 Bxb2 Rb1 Ba3 Re1 Bxc5 Bd3 Be6 c4 b6 Be4 Rc8 Qa4 Ne7 Rbd1 Nxd5 cxd5 Bd7 Qb3 Qf6 Bb1 Bd6 Qd3 g6 h3 Qf4 Re4 Qf6 Qe3 Rfe8 Qxh6 Rxe4 Bxe4 Bf4 Qh4 Qxh4 Nxh4 Bd6 g4 a5 Nf3 b5 Nd4 Rc4 Bg2 Bc5 Nc6 Bxc6 dxc6 Be7 Bd5 Rc5 Kg2 Kg7 Rd3 Kf6 f4 g5 Kf3 Kg6 Ke4 f6 fxg5 fxg5 Rf3 Bf6 Rf5 Rc2 Rf3 Re2+ Re3 Rc2 Kf3 b4 Be4+ Kg7 Bxc2 a4 Bxa4 Kg6 c7'